body {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #F0F0F0;
}

main {
    display: flex;
    width: 60%;
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

main div:first-child {
    background-color: #102943;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex: 1;
}

main div:first-child img {
    width: 80%;
    height: auto;
}

.div_sign_up {
    padding: 40px;
    flex: 1;
    position: relative;
}

.h2_sign_up {
    font-size: 24px;
    font-weight: 700;
    color: #000;
    margin-bottom: 20px;
}

.div_sign_up label {
    display: block;
    margin-bottom: 5px;
    color: #555;
    font-weight: 500;
}

.div_sign_up input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #CCC;
    border-radius: 5px;
    font-size: 16px;
}

.a_sign_up {
    display: block;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    background-color: #102943;
    color: #FFF;
    text-decoration: none;
    border-radius: 5px;
}

.logo_form {
    position: absolute;
    top: 0;
    right: 0;
    width: 95px;
    height: auto;
    margin: 10px;
}


footer {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    color: #777;
    text-align: center;
}

footer .ul_icon {
    list-style: none;
    padding: 0;
    margin: 0 0 10px 0;
    display: flex;
    justify-content: center;
    gap: 10px;
}

footer .li_icon i {
    font-size: 20px;
    color: #102943;
}
